<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Prodotti</title>

    <style>

        body {
            font-family: Arial;
        }

        table {
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid black;
            padding: 10px;
        }

        a {
            margin-right: 10px;
        }

        .btn {
            padding: 8px 15px;
            background-color: #3498db;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

    </style>
</head>

<body>

<h1>Lista Commercianti</h1>

<br>

<a class="btn" th:href="@{/web/anagrafiche/commercianti/new}">
    Nuovo Commerciante
</a>

<br><br>

<table>

    <tr>
        <th>ID</th>
        <th>Nome</th>
       
    </tr>

    <tr th:each="p : ${commercianti}">

        <td th:text="${p.commerciante_id}"></td>

        <td th:text="${p.name}"></td>

       

<!--         <td> -->

<!--             <a th:href="@{/web/anagrafiche/merce/edit/{id}(id=${p.merce_id})}"> -->
<!--                 Modifica -->
<!--             </a> -->

<!--             <a th:href="@{/webanagrafiche/merce/delete/{id}(id=${p.merce_id})}"> -->
<!--                 Elimina -->
<!--             </a> -->

<!--         </td> -->

    </tr>

</table>

</body>
</html>