<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

	<div th:fragment="navbar">

		<div style="background: #333; color: white; padding: 10px;">

			<!-- Nome app -->
			<span style="margin-right: 20px;">Jack</span>

			<!-- Link base -->
			<a href="/web/home" style="color: white; margin-right: 10px;">Home</a>
			<a href="/web/anagrafiche" style="color: white; margin-right: 10px;">Anagrafiche</a>

			<a href="/movimentibin/lista"
				style="color: white; margin-right: 10px;">Movimenti Bin</a> 
				
			<a
				href="/movimentivuoti/lista"
				style="color: white; margin-right: 10px;">Movimenti Vuoti</a>
				
				<a
				href="/ddt/home"
				style="color: white; margin-right: 10px;">DDT</a>
				
			<a
				href="/web/stampeGlobali"
				style="color: white; margin-right: 10px;">Stampe</a>
				
				<a
				href="/config/show"
				style="color: white; margin-right: 10px;">Configurazione</a>
				
			<a
				href="/magazzino/show"
				style="color: white; margin-right: 10px;">Magazzino</a>
				
				<a
				href="/frigo/show"
				style="color: white; margin-right: 10px;">Frigo</a>
				
			<a
	
				href="/net/myip"
				style="color: white; margin-right: 10px;">IP</a>

		</div>

	</div>

</body>
</html>